witsy.tar.lz4
plasma-workspace-wallpapers.tar.lz4
Temp-*
sddm-:*
sddm-auth-*
*=
plasma-csd-generator.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.txz
*.tlz
core
*.qss
*kate-swp
package-*
*.deb
*.rpm
*.AppImage
*-build.log
*.snap
scoped_*
dbus-*
